body {
  background: #042029;
  font-family: 'Merriweather';
  color: #EAE3CB;
}

#art {
  width: 320px;
  margin: 0 auto;

}

#art h2 {
  font-family: 'Bree Serif';
  font-size: 2em;
  color: #A57706;
  margin-bottom: 0;
}

ul {
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

ul li img {
  width: 100px;
  border: 1px solid #FCF4DC;
}